apiVersion: v1
kind: Secret
metadata:
  name: keycloak-configure-secret
  namespace: {{ include "common.names.namespace" . | quote }}
data:
  KEYCLOAK_ADMIN: {{ .Values.keycloak.adminUser | b64enc | quote }}
  KEYCLOAK_ADMIN_URL: {{ printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace | b64enc | quote }}
  KEYCLOAK_URL: {{ printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace | b64enc | quote }}
  REALM: {{ .Values.keycloak.realm | b64enc | quote }}
  AUTH_SERVER_EXTERNAL_URL: {{ printf "https://auth-server.%s" (.Values.global.domain | default "localhost:8888") | b64enc | quote }}
