apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.app.envSecretName }}
  namespace: {{ include "common.names.namespace" . | quote }}
data:
  ADMIN_PASSWORD: {{ randAlphaNum 64 | b64enc | quote }}
  AUTH_PROVIDER: {{ print "keycloak" | b64enc | quote }}
  AUTH_SERVER_EXTERNAL_URL: {{ printf "https://auth-server.%s" (.Values.global.domain | default "localhost:8888") | b64enc | quote }}
  AUTH_SERVER_URL: {{ printf "http://auth-server.%s.svc.cluster.local:8888" .Release.Namespace | b64enc | quote }}
  KEYCLOAK_URL: {{ printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace | b64enc | quote }}
  SECRET_KEY: {{ (.Values.global.secretKey | default .Values.app.secretKey) | b64enc | quote }}
